<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<h1>Stupid Coaching</h1>

<h2>Ask the coach anything:</h2>

<form action="/answer">
  <input id="x" type="text" name="user_input">
  <input id="y" type="submit" value="Ask!">
</form>
